
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'roboto', 'sans-serif';
}
.flexCol {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}
a {
    color: black;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
    
}
a:hover{
    color: red;
}
.btn-portfolio{
    width: 150px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    display: none;
    
}
.btn-portfolio:hover{
    background-color: black;
    color: white;
    border-color: white;
}


.nav-link:hover{
    color: red !important;
}
/* FIN BLOQUE HEADER */


/* INICIO BLOQUE MAIN */
main{
    background-image:url('../img/recursos/inicio\ c\ flecha\ 1360\ x\ 500-01.jpg');
    
    height: 600px;    
    background-position: center;
    background-size:cover; 
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 200px;
}
.red-block{
    width: 50px;
    height: 110px;
    background-color: red;
    opacity: 0.8;
    
}
.titule-block{
    width: 400px;
    height: 110px;
    background-color: white;
    opacity: 0.8;
    display: flex;
    
}
.titule-block h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    padding-top:8px
}

/* FIN BLOQUE MAIN */
/* INICIO BLOQUE CONTENEDOR TARJETAS */
.image-1{
    background-image:url('../img/recursos/card1.jpg');
    height: 600px;    
    background-position: center;
    background-size:cover; 
    background-repeat: no-repeat;
}
.image-2{
    background-image:url('../img/recursos/card2.jpg');
    height: 600px;    
    background-position: center;
    background-size:cover; 
    background-repeat: no-repeat;
}
.image-3{
    background-image:url('../img/recursos/card3.jpg');
    height: 600px;    
    background-position: center;
    background-size:cover; 
    background-repeat: no-repeat;
}
.image-4{
    background-image:url('../img/recursos/card4.jpg');
    height: 600px;    
    background-position: center;
    background-size:cover; 
    background-repeat: no-repeat;
}

.card-content{
    display: flex;
    flex-direction: column;    
    height: 100%;
    justify-content: center;
    color: white;
    align-items: center;
    padding-top: 100px;
}
.left-content{
    position: relative;
    right: 25%;
}
.right-content{
    margin-left: 45%;
}
.right-content p {
    width: 50% !important;
}
.card-content p {
    padding: 50px 30px;
    text-align: center;
    width: 30%;
    
}
.card-icon{
    position: relative;
    bottom: 100px;
    width: 150px;
}
/* FIN BLOQUE CONTENEDOR TARJETAS */
/* INICIO BLOQUE CLIENTES */
#clientesBlock {
    border: 2px dotted red;
    height: 70vh;
    width: 100vw;
    font-size: 0.8rem;
    background-color: #1c110d;
    background-image: url("../img/recursos/elementos-09.png");
    background-repeat: no-repeat;
    background-position:+85dvw;
    background-size: 55vh;
    

}

#mapContainer {
    width: 60%;
    border: 2px solid blue;
}

#clientesCardContainer {
    width: 40%;
    border: 2px solid green;
    margin: 5%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.clientesCard {
    height: 30%;
    width: 70%;
}

.cardTitle {
    margin-bottom: 5px;
    color: #ededed    
}

.cardText{
    color: #ededed;   
}








/* FIN BLOQUE CLIENTES*/
/* inicio bloque carrousel */
.carousel-inner{
    padding: 10%;
    background-color: black;
}
/* fin bloque carrousel */

/* INICIO BLOQUE FORMULARIO CONTACTO */
#formBlock {
    width: 100%;
    height: 500px;
    background-image: url("../img/recursos/formBackground.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    /* 1921*891 */
    justify-content: flex-end;
}

#formContainer {
    width: 65%;
    height: 100%;
    padding-right: 0;
    align-items: center;
}

#formImagen {
    width: 10%;
    max-width: 70px;
    margin: 5% 0 5% 0;
}

#formTitulo {
    margin-bottom: 5%;
    color: #eee;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

#form {
    width: 100%;
    align-items: center;
}

.formInput {
    width: 70%;
    height: 1.5rem;
    margin: 3px;
    border: none;
    border-radius: 2px;
    padding-left: 10px;
    
    
}

.message_input {
    padding-top: 5px;
    height: 5rem;
}

.formInput::placeholder {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.formInput:active {
    border: none;
}

.form_btn {
    background-color: white;
    margin-top: 15px;
    color: gray;
}



/* FIN BLOQUE FORMULARIO CONTACTO */
/* INICIO BLOQUE WHATSAPP */
#whatsappContainer {
    
    position: fixed;
    right: 5%;
    bottom: 5%;
}
/* FIN BLOQUE WHATSAPP */

 /* INICIO BLOQUE COPYRIGTH */
 #copyrigth {
     display: flex;
     align-items: center;
     justify-content: center;
    width: 100vw;
    height: 5vh;
    background-color: #9BA4B5;
    color: #212A3E;
    font-size: 1rem;

 }

 #copyrigthAnchor {
    padding-left: 5px;
    font-size: 1rem;
    color: #394867;
 }
 #copyrigthAnchor:hover {
    font-weight: bold;
    color: gold;
 }



 /* FIN BLOQUE COPYRIGTH */
 
/* INICIO BLOQUE FOOTER REDES */
.contact-bar{
    justify-content:space-around;
    background-color: black;
    height: 80px;
    align-items: center;
}
.nav-list li {
    padding: 10px;
    margin-top: 10px;
}
/* FIN BLOQUE FOOTER REDES */
/* ESTILOS LOGO DE WP */
.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
  font-size:30px;
    box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
    text-decoration: none;
    color: #25d366;
  background-color:#fff;
}

.my-float{
    margin-top:16px;
}
/* Actions */

/* Actions */

ul.actions {
    margin: 0;
}

    ul.actions li {
        display: block;
        margin: 15px 0 0 0;
    }

        ul.actions li:first-child {
            margin-top: 0;
        }
        form .actions:last-child {
            margin-bottom: 0;
        }
        ul.actions {
            list-style: none;
            padding-left: 0;
        }
    
ul.actions li {
      display: inline-block;
     margin: 0 0 0 1em;
    padding-left: 0;
            }
    
 ul.actions li:first-child {
     margin-left: 0;
    }
/* hidden animation  */
.hidden{
    opacity: 0;
    transition:all 1s;
    
}
.show{
    opacity: 1;
    
}
/* estilos para tamaño de pantalla por debajo de los 700px */
@media (max-width: 880px){
    /* INICIO BLOQUE CONTENEDOR TARJETAS */
.image-1{
    background-image:url('../img/recursos/cardmobile-01.jpg');
    height: 800px; 
}
.image-2{
    background-image:url('../img/recursos/cardmobile-02.jpg');
    height: 800px; 
}
.image-3{
    background-image:url('../img/recursos/cardmobile-03.jpg');
    height: 800px; 
}
.image-4{
    background-image:url('../img/recursos/cardmobile-04.jpg');
    height: 800px;    
    
}

.card-content{    
    
    justify-content: flex-end;    
}
.left-content{    
    right: 0%;
    top: 50px;
}
.right-content{
    margin-left: 0%;
    
}

.card-content p {    
    width: 80% !important;
    
}

/* FIN BLOQUE CONTENEDOR TARJETAS */

/* comienzo formulario */
#formBlock{
    justify-content: center;
}
#formContainer{
    justify-content: center;
}
/* fin de formulario */
}
@media (max-width: 500px){

   /* INICIO BLOQUE HEADER */
   .navbar-brand img{
    width: 150px !important;
   }

/* FIN BLOQUE HEADER */
    /*comienzo bloque footer */
    .contact-bar{
        flex-direction: column;
        height: 160px;
        padding-top: 20px;
    }
    .contact-bar ul {
        margin-right: 40px;
    }
    /*fin bloque footer */
    /* comienzo de bloque main */
    .titule-block h1 {
        font-size: 30px;
    }
    .red-block{
        height:80px ;
    }
    .titule-block{
        height: 80px;
        width: 300px;

    }
    /* fin de bloque main */
}
@media (max-width: 370px){
    .image-1{        
        height: 1000px; 
    }
    .image-2{        
        height: 1000px; 
    }
    .image-3{        
        height: 1000px; 
    }
    .image-4{        
        height: 1000px;   
}
.card-content h1{
    text-align: center;
}
}
@media (min-width: 1336px) {
    .image-1{
        height: 800px;
    }
    .image-2{
        height: 800px;
    }
    .image-3{
        height: 800px;
    }
    .image-4{
        height: 800px;
    }
  }