* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: black;
    text-decoration: none;
    font-size:25px;
    font-weight: bold;
    
}
a:hover{
    color: red;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}
/* INICIO BLOQUE HEADER */
.nav-bar{
    justify-content: space-between;
    align-items: center;
    height: 160px;
    margin: 0px 40px;
}
.nav-list{
    align-items: center;
}
.nav-list li{
    margin: 0px 20px;
    
}
/* FIN BLOQUE HEADER */


/* INICIO BLOQUE MAIN */
/* FIN BLOQUE MAIN */
/* INICIO BLOQUE CONTENEDOR TARJETAS */
/* FIN BLOQUE CONTENEDOR TARJETAS */
/* INICIO BLOQUE CLIENTES */
/* FIN BLOQUE CLIENTES*/


/* INICIO BLOQUE FORMULARIO CONTACTO */
#formBlock {
    width: 100vw;
    height: 70vh;
    background-image: url("../img/recursos/formBackground.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    /* 1921*891 */
    justify-content: flex-end;
}

#formContainer {
    width: 65%;
    height: 100%;
    padding-right: 0;
    align-items: center;
}

#formImagen {
    width: 10%;
    max-width: 70px;
    margin: 5% 0 5% 0;
}

#formTitulo {
    margin-bottom: 5%;
    color: #eee;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

#form {
    width: 100%;
    align-items: center;
}

.formInput {
    width: 70%;
    height: 1.5rem;
    margin: 3px;
    border: none;
    border-radius: 2px;
    padding-left: 10px;
    color: green;
    
}

#formTextArea {
    height: 5rem;
}

.formInput::placeholder {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.formInput:active {
    border: none;
}

/* FIN BLOQUE FORMULARIO CONTACTO */









/* INICIO BLOQUE WHATSAPP */
/* FIN BLOQUE WHATSAPP */